@import url('https://fonts.googleapis.com/css?family=Roboto"');

html,
body {

    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#root,
body,
html {
    background: linear-gradient(to bottom, #E5EDF1 0%, #96C2DB 200px, #96C2DB 100%) repeat-x scroll 0% 0% #96C2DB !important;
    height: 100% !important;
    width: 100%;
}

.navbar-expand-lg .navbar-nav {
    margin: 0% 25%;
}

.carousel-item img {
    padding: 10px !important;
    border-radius: 100px !important;
    margin: auto !important;
    width: 65% !important;
    height: 70% !important;
}


.pages a {
    font-size: 25px;
    padding: 0px 10px;
    color: #000;
}

.contactMe .contact .contactMeBtn {
    color: #000;
    background: aliceblue;
}

.contactMe .contact .contactMeBtn:hover {
    background: #171515 !important;
    color: #fff !important;
}