.main-row {
    background: azure;
    padding: 20px;
    min-height: 100px;
}

.initials h4 {
    margin-top: 5px;
}

.review-row {
    margin-bottom: 50px !important;
}

@media only screen and (min-width:1700px) {
    .main-row {
        margin: 100px 300px;
    }
}

@media only screen and (min-width:900px) {}